BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
ColumnLimit: 120
IndentPPDirectives: AfterHash
IndentWidth: 4
PointerAlignment: Right
SortIncludes: true
